<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular App</title>
  <base href="/">
</head>

<body>
<div class ="wrapper">
<div id="Hero">
  <img class="Logo" ngSrc="/assets/images/BlogITLogo.png" height="238" width="563">
  <h1 id = "hero-title">Tehnologija, znanje, inspiracija</h1>
  <h3 id="hero-description">Pišite, čitajte i širite svoje znanje u svijetu IT-a</h3>
</div>
<div class="Register">
  <h1 id = "register-title">Registruj se</h1>
  <form [formGroup]="registerForm">
    <div class="form__group field">
      <div class="form__group--inline">
        <input type="text" id="firstName" class="form__field" formControlName="firstName" placeholder="Ime" required />
        <label for="firstName" class="form__label">Ime</label>
        <div class = "text-error" *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched">
          <div *ngIf="registerForm.controls['firstName'].hasError('required')">
            Ime je obavezno!
          </div>
          <div *ngIf="registerForm.controls['firstName'].hasError('minlength')">
            Ime mora imati minimalno 3 slova
          </div>
        </div>
      </div>

      <div class="form__group--inline">
        <input type="text" id="lastName" class="form__field" formControlName="lastName" placeholder="Prezime" required />
        <label for="lastName" class="form__label">Prezime</label>
        <div class = "text-error" *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched">
          <div *ngIf="registerForm.controls['lastName'].hasError('required')">
            Prezime je obavezno!
          </div>
          <div *ngIf="registerForm.controls['lastName'].hasError('minlength')">
            Prezime mora imati minimalno 3 slova
          </div>

        </div>
      </div>
    </div>
    <div class="form__group field">
      <input type="email" id="email" class="form__field" formControlName="email" placeholder="Email" required />
      <label for="email" class="form__label">Email</label>
      <div class = "text-error" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
        <div *ngIf="registerForm.controls['email'].hasError('required')">
          Email je obavezan!
        </div>
        <div *ngIf="registerForm.controls['email'].hasError('pattern')">
          Unesi validan email!
        </div>

      </div>
    </div>

    <div class="form__group field">
      <div class="form__group--inline">
        <input type="text" id="username" class="form__field" formControlName="username" placeholder="Korisničko ime" required />
        <label for="username" class="form__label">Korisničko ime</label>
        <div class = "text-error" *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
          Unesite validno korisničko ime! (minimalno 7 slova).
        </div>
      </div>

      <div class="form__group--inline">
        <input type="password" id="password" class="form__field" formControlName="password" placeholder="Lozinka" required />
        <label for="password" class="form__label">Lozinka</label>
        <div class = "text-error" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          <div *ngIf="registerForm.controls['password'].hasError('required')">
            Lozinka je obavezna!
          </div>
          <div *ngIf="registerForm.controls['password'].hasError('minlength')">
            Lozinka mora imati barem 8 karaktera!
          </div>
          <div *ngIf="registerForm.controls['password'].hasError('pattern')">
            Lozinka mora sadržavati barem jedno veliko slovo, jedno malo slovo, jedan broj i jedan specijalni znak!
          </div>
        </div>
      </div>
    </div>
  </form>
  <button class="button" (click)="onSubmit()">
    Registruj se
  </button>
  <div class="form-separator">
    <hr />
    <span>or</span>
    <hr />
  </div>
  <p id="login-text">Već imate račun? <a id="login-link" routerLink="/login">Prijavite se</a></p>
</div>
</div>
</body>

</html>
