* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.Logo
{
  width: 14vh;
  height: auto;
padding-top: 1%;
}
.nav-bar
{
  width: 100%;
  height: 60px;
  position: fixed;
  top:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.nav-content
{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%;
  padding: 10px;
}
.nav-content1
{
  width: 12%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
}

.button {
  border: none;
  width: 13em;
  background-image: linear-gradient(135deg, #40df88 0%, #50e18e 20%, #eae3e3 100%);
  border-radius: 20px;
  font-family: inherit;
  font-size: 18px;
  padding: 0.6em 1.5em;
  transition: scale 0.2s ease;
  color: #474747;
  margin-top: 3%;
  flex-shrink: 0;
  white-space: nowrap;
}
#button1 {

  width: auto;
  font-size: 15px;
  margin-top: 0;
}
#login-link {

  text-decoration: none;
  font-size: 16px;
  color: #474747;
  margin-right: 10%;
}
#login-link:active{
  color: #40df88;
}
.button:hover {
  cursor: pointer;
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse512 1.5s infinite;
}

.button:active {
  scale: 0.95;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 rgba(87, 89, 88, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(218, 03, 8,  0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(218, 03, 8,  0);
  }
}
.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #474747;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;

  overflow: hidden;

}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 16px 16px 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: rgba(64, 223, 136, 0.4);
}

.menu .item:hover .link {
  color: #474747;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: rgba(64, 223, 136, 0.61);
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}
